<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Appender Console -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Désactiver les logs Hibernate et Spring -->
    <logger name="org.hibernate" level="WARN"/>
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.springframework.orm" level="WARN"/>
    
    <!-- Configuration du logger racine -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>